@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #e6e7ee;
  --shadow: #b8b9be;
  --light: #fff;
  --shadow-horizontal: 3px;
  --shadow-vertical: 3px;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  
  --shadow-horizontal-sm: 1px;
  --shadow-vertical-sm: 1px;
  --shadow-blur-sm: 3px;
  --shadow-spread-sm: 0px;
  
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  min-height: 100vh;
}

html, body, #root {
  display: flex;
  flex: 1;
}


/* html{
  background-color: aquamarine;
}
body{
  background-color: lightcoral;
}
#root{
  background-color: plum;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neumo{
  background: var(--primary);

}

.neumo-out{
  box-shadow: 
    var(--shadow-horizontal) var(--shadow-vertical) var(--shadow-blur) var(--shadow-spread) var(--shadow), 
    calc(-1*var(--shadow-horizontal)) calc(-1*var(--shadow-vertical)) var(--shadow-blur) var(--shadow-spread) var(--light);
  border-radius: 5px;
}
.neumo-in{
  box-shadow: 
    inset var(--shadow-horizontal) var(--shadow-vertical) var(--shadow-blur) var(--shadow-spread) var(--shadow), 
    inset calc(-1*var(--shadow-horizontal)) calc(-1*var(--shadow-vertical)) var(--shadow-blur) var(--shadow-spread) var(--light);
  border-radius: 5px;
}
.neumo-in-sm{
  box-shadow: 
    inset var(--shadow-horizontal-sm) var(--shadow-vertical-sm) var(--shadow-blur-sm) var(--shadow-spread-sm) var(--shadow), 
    inset calc(-1*var(--shadow-horizontal-sm)) calc(-1*var(--shadow-vertical-sm)) var(--shadow-blur-sm) var(--shadow-spread-sm) var(--light);
  border-radius: 5px;
}

 

.neumo-interactive{
  transition: all 0.2s ease;
}
.neumo-out.neumo-interactive:hover,
.neumo-out.neumo-interactive:focus,
.neumo-out.neumo-interactive:active
{
  box-shadow: 1px 1px 3px var(--shadow),-1px -1px 2px var(--light);
}
    